<div class="navbar">
  <ng-container *ngIf="isLoggedIn; else guestLinks">
    <button mat-button routerLink="/form" routerLinkActive="active">Form</button>
    <button mat-button routerLink="/Plist/:patientId" routerLinkActive="active">Patient List</button>
    <button mat-button routerLink="/doctor" routerLinkActive="active">Doctor</button>
    <button mat-button routerLink="/admin" routerLinkActive="active">Admin</button>
    <button mat-button (click)="logout()">Logout</button>
  </ng-container>
  
  <ng-template #guestLinks>
    <button mat-button routerLink="/" routerLinkActive="active">Login</button>
    <button mat-button routerLink="/register" routerLinkActive="active">Register</button>
  </ng-template>
</div>
